<li class="nav-item">
    <a href="{{ path('user_index') }}" class="nav-link">
        <i class="nav-icon fas fa-user"></i>
        <p>Users</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('project_index') }}" class="nav-link">
        <i class="nav-icon fas fa-plane"></i>
        <p>Projects</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('cagnotte_index') }}" class="nav-link">
        <i class="nav-icon fas fa-box"></i>
        <p>Cagnottes</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('participant_index') }}" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>Participants</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('hashtag_index') }}" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>Hashtag</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('hebergement_index') }}" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>Hebergement</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('type_index') }}" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>Type</p>
    </a>
</li>