{% extends 'Administration/default.html.twig' %}

{% block title %}Cagnotte{% endblock %}
{% block header %}Cagnotte{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-edit"></i>
                        Cagnotte de
                        <a href="{{ path('user_show', {'id': cagnotte.project.user.id}) }}" class="badge badge-primary">
                            {{ cagnotte.project.user.firstNameLastName }}
                        </a>
                        pour le projet
                        <a href="{{ path('project_show', {'id': cagnotte.project.id}) }}" class="badge badge-primary">
                            {{ cagnotte.project.name }}
                        </a>
                    </h3>
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                            <li class="nav-item">
                                <a class="btn bg-gradient-pink float-right" href="{{ path('cagnotte_index') }}">back to
                                    list</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-info float-right" href="{{ path('cagnotte_edit', {'id': cagnotte.id}) }}">edit</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body pad">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ cagnotte.id }}</td>
                        </tr>
                        <tr>
                            <th>Url Paypal</th>
                            <td><a href="{{ cagnotte.url }}" class="badge badge-primary">{{ cagnotte.url }}</a></td>
                        </tr>
                        <tr>
                            <th>Notification</th>
                            <td>
                                {% if cagnotte.notification %}
                                    Notification non visité
                                {% else %}
                                    Notification visité
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {{ include('administration/crud/cagnotte/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
