{% extends 'login/default.html.twig' %}

{% block title %}Créer son compte{% endblock %}

{% block login %}
    <div class="card-header">
        <h3 class="card-title">Créer son comtpe</h3>
    </div>
    {{ form_start(form) }}
    <div class="card-body">
        <div class="input-group mb-3">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-user"></span>
                </div>
            </div>
            {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
        </div>
        {{ form_errors(form.lastName) }}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-user"></span>
                </div>
            </div>
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Prenom'}}) }}
        </div>
        {{ form_errors(form.firstName) }}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-envelope"></span>
                </div>
            </div>
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
        </div>
        {{ form_errors(form.email) }}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-lock"></span>
                </div>
            </div>
            {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
        </div>
        {{ form_errors(form.password.first) }}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-lock"></span>
                </div>
            </div>
            {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmez le mot de passe'}}) }}
        </div>
        {{ form_errors(form.password.second) }}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
            {{ form_widget(form.birthdate, {'attr': {'class': 'form-control', 'placeholder': 'Date de naissance'}}) }}
        </div>
        {{ form_errors(form.birthdate) }}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-city"></span>
                </div>
            </div>
            {{ form_widget(form.city, {'attr': {'type': 'text', 'class': 'form-control', 'placeholder': 'Ville'}}) }}
        </div>
        {{ form_errors(form.city) }}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-phone"></span>
                </div>
            </div>
            {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'}}) }}
        </div>
        {{ form_errors(form.phone) }}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-image"></span>
                </div>
            </div>
            <div class="custom-file">
                {{ form_widget(form.picture, {'attr': {'class': 'custom-file-input'}}) }}
                <label class="custom-file-label" for="create_account_picture">Choisir une image</label>
            </div>
        </div>
        {{ form_errors(form.picture) }}
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">
                Register
            </button>
            <a type="button" class="btn btn-success btn-block" href="{{ path('app_common_welcome_login') }}">
                J'ai déjà un compte
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                let fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
            $('#create_account_birthdate').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'),10)
            });
        });
    </script>
{% endblock %}
