<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ma Valise | Se connecter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('build/fontawesome-free.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ ('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('build/adminlte.css') }}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        Ma <b>Valise</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Connecter vous pour profiter pleinement de l'experience</p>

            <form action="{{ path('app_common_welcome_login') }}" method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember">
                        <label for="remember">
                            Se souvenir de moi
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="row">
                    <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                </div>
                <!-- /.col -->
            </form>

            <p class="mb-1">
                <a href="forgot-password.html.twig">J'ai oublié mon mot de passe</a>
            </p>
            <p class="mb-0">
                <a href="register.html.twig" class="text-center">Créer son compte</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{{ asset('build/jquery.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('build/bootstrap.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('build/adminlte.js') }}"></script>

</body>
</html>
