<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ma Valise | Se connecter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('build/plugins/fontawesome-free/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ asset('build/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('build/dist/css/adminlte.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        Ma <b>Valise</b>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            <p class="login-box-msg">Connecter vous pour profiter pleinement de l'experience</p>
            {{ form_start(form) }}
            <div class="input-group mb-3">
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'email'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'password'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="icheck-primary">
                    <input type="checkbox" id="remember">
                    <label for="remember">
                        Se souvenir de moi
                    </label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
            </div>
            {{ form_end(form) }}
            <p class="mb-1">
                <a href="forgot-password.html.twig">J'ai oublié mon mot de passe</a>
            </p>
            <p class="mb-0">
                <a href="{{ path('app_common_welcome_createaccount') }}" class="text-center">Créer son compte</a>
            </p>
        </div>
    </div>
</div>
<script src="{{ asset('build/plugins/jquery/jquery.js') }}"></script>
<script src="{{ asset('build/plugins/bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ asset('build/dist/js/adminlte.js') }}"></script>
</body>
</html>
