{% extends 'login/default.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block content %}
    <div class="card-header">
        <h3 class="card-title">Créer son comtpe</h3>
    </div>
    <div class="card-body login-card-body">
        <p class="login-box-msg">Connecter vous pour profiter pleinement de l'experience</p>
        {{ form_start(form) }}
        <div class="input-group mb-3">
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'email'}}) }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'password'}}) }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                    Se souvenir de moi
                </label>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
        </div>
        {{ form_end(form) }}
        <p class="mb-1">
            <a href="forgot-password.html.twig">J'ai oublié mon mot de passe</a>
        </p>
        <p class="mb-0">
            <a href="{{ path('app_common_welcome_createaccount') }}" class="text-center">Créer son compte</a>
        </p>
    </div>
{% endblock %}