{{ form_start(form) }}
<div class="container">
<div class="form-group row">
    <div class="col-sm-10">
    {{ form_row(form.user, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
    {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
    {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-15">
    {{ form_row(form.desires, {'attr': {'class': 'form-check'}}) }}
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
    {{ form_row(form.dateStart, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
    {{ form_row(form.dateEnd, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
    {{ form_row(form.cagnotte, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<button class="btn btn-default">Sauvegarder</button>
</div>
{{ form_end(form) }}
