{{ form_start(form) }}
<div class="form-group">
    {{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.picture, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.phone, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.city, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="input-group mb-3">
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="fa fa-calendar"></span>
        </div>
    </div>
    {{ form_widget(form.birthdate, {'attr': {'class': 'form-control', 'placeholder': 'Date de naissance'}}) }}
</div>
{{ form_errors(form.birthdate) }}
<div class="form-group">
    {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.salt, {'attr': {'class': 'form-control'}}) }}
</div>
<button class="btn btn-default">Envoyer</button>
{{ form_end(form) }}


<script>
    $(document).ready(function () {
        $(".custom-file-input").on("change", function () {
            let fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        $('#user_birthdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minYear: 1901,
            maxYear: parseInt(moment().format('YYYY'), 10)
        });
    });
</script>
