{% extends 'Administration/default.html.twig' %}

{% block title %}User Index{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-paperclip"></i>
                    Liste des utilisateurs
                </h3>
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('cagnotte_new') }}">Create new</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body pad">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Birthdate</th>
                <th>Password</th>
                <th>Salt</th>
                <th>City</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.birthdate ? user.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.salt }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.picture }}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a href="{{ path('user_show', {'id': user.id}) }}" class="btn bg-gradient-orange"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
